.info img{
    width: 200px;
    height: 200px;
    border-radius: 150px;
}
.info{ 
    padding: 20px;
    margin: 10px;
    background-color: rgb(158, 151, 252);
    border-radius: 20px;
}
.btn-regular{
    background-color: rgb(205, 239, 255);
    border: none;
    padding: 5px;
    margin: 5px;
}
.btn-regular:hover{
    background-color: gray;
}